<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rockin' Circuits!</title>
  
  <link href="css/application.css" media="screen" rel="stylesheet" />
  <link href="css/circuit.css" media="screen" rel="stylesheet" /> 
  <!-- // <script src="js/libs/jquery-1.10.2.js"></script> -->
  <script src="js/libs/jquery-1.10.2.min.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.7.0.js"></script>
  <!-- // <script src="js/libs/ember-1.7.min.js"></script> -->
  <script src="js/libs/typed.js"></script>
  <script src="js/libs/bootstrap.min.js"></script>
  <script src="ember-data.js"></script>
  <!-- // <script src="js/libs/ember-data.1.0.0-beta.4.min.js"></script> --> 
  <script src="js/libs/localstorage_adapter.js"></script>
  <script src="accounting.js"></script>
  <script src="js/application.js"></script>
  <script src="js/products.js"></script>

  <script src="js/parallax.js"></script>

  <!-- // <script src="js/cart.js"></script> -->
  <!-- // <script src="js/contacts.js"></script> -->
  <!-- //   <script src="js/checkout.js"></script> -->
  <!-- // <script src="js/app.js"></script>   -->
  

  <script src="js/data.js"></script>
  <!-- // <script src="js/models/recipe.js"></script> -->
  <!-- // <script src="js/ajax_helpers.js"></script>   -->   
  <!-- <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
 <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->

  <link href="css/bootstrap.css" media="screen" rel="stylesheet" />
</head>

<body onload="onload">

<script type="text/x-handlebars" data-template-name='application'>
  <div id="main_header" class="navbar navbar-default navbar-fixed-top">
    <div class="header_bg">
    </div>
    <div class="header_items" >
    
    <ul class="nav-justified" >
        <li class="compact">
            {{#link-to "products" class="" }}
                <img src="images/ic_logo.png"  class="image_logo" alt="logo" height="32" width="122">{{/link-to}}
            
        </li>
        <li class="compact">
            <div class="" id="">
            {{product-header-filters-top product=this tagName='div' classNames='filters'}}
            </div>
        </li>
        <li class="compact">
            <div>
            <div>
                <form {{action "search" on="submit"}} class=" ">
                  {{input value=query classNames="search_bar"}}
                </form>
            </div>
        </li>
        <li class="compact">
          <div class="">
            <div {{action 'showModal' 'checkout-modal' model}}><img src="images/ic_cart.png"  class="image_logo" alt="logo" height="40" width="40">
             {{#if itemCounter}} 
            <div class="cart_itemCount">{{itemCounter}}</div>
              {{/if}}
            </div>
          </div>
        </li> 
            
    </ul>
    </div> 
  </div>
  
 
<!-- Section 2-->
<section id="home_header" >
  <div class="bg_overlay">
  </div>
  <div class="container main_content_header">
      
  <div class="element_center text_ideas">
      <span class="typed"></span>       
    </div>
        {{product-header-filters product=this tagName='div' classNames='product_item_grid element_center'}}
  </div>
</section>  


  <div id="content" class="container">
    {{outlet}}
    {{outlet 'modal'}}
  </div>
    
  
  <footer class='container'>
    <hr />
    <p class='pull-left'>&copy; 2015 ArcherCode </p>
    
    <p class='pull-right'>{{#link-to 'credits'}}Credits{{/link-to}}</p>
    <p class='pull-right'>{{#link-to 'about'}}About{{/link-to}}</p>
    
  </footer>
</script>

<script type="text/x-handlebars" data-template-name='components/product-header-filters-top'>
    
    <div class=''>
      <div>
          <ul class="nav-justified ">
            <li class=" ">
          {{#link-to 'products.boards' classNames=""}}
            BOARDS
          {{/link-to}}
            </li>
            <li class=" ">
          {{#link-to 'products.sensors' classNames=""}}
            SENSORS
          {{/link-to}}
            </li>
            <li class=" ">
          {{#link-to 'products.robotics' classNames=""}}
            ROBOTICS
          {{/link-to}}
            </li>
        </ul>
      </div>
    </div>   

</script>  

<script type="text/x-handlebars" data-template-name="checkout-modal">
{{#modal-dialog title='checkout' ok='logout' close='removeModal' yesButton='Order' hasCloseBtn=True}}
    <div class="row">
      <ul>
        {{#each item in model itemController="application" }}
          <li {{bind-attr class=""}}>
          {{item.name}}: {{item.amount}} x {{item.quantity}}
          <button class='btn btn-success' {{action 'deleteItem'}}>x</button> 
          </li>
        {{/each}}
      </ul>
        Total items: {{itemOrderCount}}
        Total amount: {{subTotal}}
        <h3>
          Payment Options - {{selectedVal}}
        </h3>
          {{ext-radio content=radioContent value=selectedVal}}

          {{#if optionBank }}
            <div>
              <h3>
                you may depoist the amount to me
              </h3>
            </div>
          {{/if}}

          {{#if optionMeet }}
          <div>
              <h3>
                lets talk to discuss your meet up point
              </h3>
            </div>
          {{/if}}
    </div>

{{v-card fn=firstName street-address=address locality=city usState=usState zip=zipCode email=email phone=phone}}
    <h3 class="subheader">Edit this card:</h3>
    <label>First Name</label>
    {{input type="text" value=firstName}}

    <label>Address</label>
    {{input type="text" value=address}}

    <label>City</label>
    {{input type="text" value=city}}

    <label>Region</label>
    {{input type="text" value=usState}}

    <label>Zip Code</label>
    {{input type="text" value=zipCode}}

    <label>Email address</label>
    {{input type="email" value=email}}

    <label>CellPhone</label>
    {{input type="text" value=phone}}

{{/modal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="components/v-card">
  <ul class="vcard">
    <li class="fn">{{fn}}</li>
    <li class="street-address">{{street-address}}</li>
    <li class="locality">{{locality}}</li>
    <li><span class="state">{{usState}}</span> <span class="zip">{{zip}}</span></li>
    <li class="email">{{email}}</li>
    <li class="phone">{{phone}}</li>
  </ul>
</script>

<script type="text/x-handlebars" data-template-name='components/ext-radio'>  
    {{#each content}}
        <label> {{label}}
            {{radio-button value=value name=view.name selection=view.value}}
        </label>
    {{/each}}
</script>


<!-- Edit line here -->
<!--
<script type="text/x-handlebars" data-template-name="index">
  <div class="jumbotron">
    <h1>Welcome to The Flint &amp; Flame!</h1>
    <p class="tagline">Everything you need to make it through the winter.</p>
    <p>{{#link-to 'products' classNames='btn btn-primary btn-lg'}}Browse All {{productCount}} Items &raquo;{{/link-to}}</p>
  </div>

  <div class="body-content">
    <div class="row">
      {{#each onSale}}
        {{product-detail product=this classNames="col-sm-4"}}
      {{/each}}
    </div>
  </div>
</script>
-->
<script type="text/x-handlebars" data-template-name='products'>



<div class="row" id="scrollToThis">
  <div>
    {{outlet}}
    {{outlet modal}}
  </div>
</div>
</script>  


    
<script type="text/x-handlebars" data-template-name='components/product-header-filters'> 
      <div>
          <ul class="nav-justified">

            <li class=" main_header_thumbnail">
          {{#link-to 'products.boards' classNames="list-group-item"}}
                <div class=''>
                <img src="images/icons/Remote-Control-256.png"  class="image_logo" alt="logo" height="128" width="128">
                </div>
                <h3>Boards</h3>
          {{/link-to}}
                <div><h4>
                Facilitates programming and incorporation into other circuits</h4>
                </div>
            </li>
            <li class=" main_header_thumbnail">
          {{#link-to 'products.sensors' classNames="list-group-item"}}
                
                
                <div class=''>
                <img src="images/icons/Modem-Wireless-256.png"  class="image_logo" alt="logo" height="128" width="128">
                </div>
                <h3>Sensors</h3>
          {{/link-to}}
                <div><h4>
                Measures physical quantity and converts it into a signal which can be read by an microcontroller</h4>
                </div>
            </li>
            <li class=" main_header_thumbnail">
          {{#link-to 'products.robotics' classNames="list-group-item"}}
                <div class=''>
                <img src="images/icons/Webcam-256.png"  class="image_logo" alt="logo" height="128" width="128">
                </div>
                <h3>Robotics</h3>
          {{/link-to}}
                <div><h4>
                Motors, Relays anything that makes your project animate</h4>
                </div>
            </li>
        </ul>
      </div>
    


</script>  


<script type="text/x-handlebars" data-template-name='products/index'> 
  <!--     -->      
    
  <!--     -->
  <div class="element_center element_header_bar_parent">
    <div class="element_header_bar element_header_item"></div>
    <div class="element_header_item"><h3>Products</h3></div>
    <div class="element_header_bar element_header_item"></div>
  </div>
        <div class='list-unstyled'>
      <div class="row">
      {{#each model}} 
        
    <div class="prod" {{action 'showModal' 'product-detail-modal' this}}>
    {{product-detail product=this tagName='div' classNames='product_item_grid'}}
    </div>
    
     
      
      {{/each}}
      </div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name='products/boards'> 

  <div class="element_center element_header_bar_parent">
    <div class="element_header_bar element_header_item"></div>
    <div class="element_header_item"><h3>Boards</h3></div>
    <div class="element_header_bar element_header_item"></div>
  </div>
<div class='list-unstyled'>
  {{#each}}
    <div class="prod" {{action 'showModal' 'product-detail-modal' this}}>
    {{product-detail product=this tagName='div' classNames='product_item_grid'}}
    </div>
  {{/each}}
</div>
</script>

<script type="text/x-handlebars" data-template-name='products/sensors'> 

  <div class="element_center element_header_bar_parent">
    <div class="element_header_bar element_header_item"></div>
    <div class="element_header_item"><h3>Sensors</h3></div>
    <div class="element_header_bar element_header_item"></div>
  </div>
<div class='list-unstyled'>
  {{#each}}
    <div class="prod" {{action 'showModal' 'product-detail-modal' this}}>
    {{product-detail product=this tagName='div' classNames='product_item_grid'}}
    </div>
  {{/each}}
</div>
</script>
    
<script type="text/x-handlebars" data-template-name='products/robotics'>

  <div class="element_center element_header_bar_parent">
    <div class="element_header_bar element_header_item"></div>
    <div class="element_header_item"><h3>Robotics</h3></div>
    <div class="element_header_bar element_header_item"></div>
  </div>
<div class='list-unstyled'>
  {{#each}}
    <div class="prod" {{action 'showModal' 'product-detail-modal' this}}>
    {{product-detail product=this tagName='div' classNames='product_item_grid'}}
    </div>
  {{/each}}
</div>
</script>

<script type="text/x-handlebars" data-template-name="product-detail-modal">
  {{#modal-dialog title=model.title ok='buyProduct' close='removeModal' yesButton='Buy' hasCloseBtn=True}}
    <div class="row">  
        <img {{bind-attr src='model.image'}} class='img-thumbnail'/>
    </div>
    <div class="row">
        <p class="product-description">{{model.description}}</p>
    </div>
  {{/modal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="logout-modal">
  {{#modal-dialog title='Logout' ok='logout' close='removeModal'}}
    Are you sure you want to logout?
  {{/modal-dialog}}
</script>

<script type="text/x-handlebars" id="components/modal-dialog">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          {{yield}}
        </div>
        <div class="modal-footer">
            {{#if hasCloseBtn}}  
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {{/if}}
          <button type="button" class="btn btn-primary" {{action "ok" }}>{{yesButton}}</button>
        </div>
      </div>
    </div>
  </div>
</script>  
   
<script type="text/x-handlebars" data-template-name='components/product-detail'>
<div class="row">  
    <img {{bind-attr src='product.image'}} class='img-thumbnail'/>
</div>
<div class='row product_item_description'>
    <div class="col-md-8">
        <h4>{{product.title}}</h4>
    </div>
    <div class="col-md-4">
        <button class='btn btn-success' {{action 'buy' product}}> ₱{{product.price}}</button>
    </div>
</div>
</script>

<script type="text/x-handlebars" data-template-name='product'>
{{#modal-dialog action="close"}}
  <div class='row'>
    <div class='col-sm-7'>
      <h2>{{title}}</h2>      
      <h3 class="text-success">{{money price}}</h3>
      <p class="text-muted">{{description}}</p>
    </div>
    <div class='col-sm-5'>
      <img {{bind-attr src='image'}} class='img-thumbnail img-rounded'/>
    </div>
  </div>
{{/modal-dialog}}
</script>


<script type="text/x-handlebars" data-template-name='credits'>
  <h2>Credits</h2>
  <p>Here are a few of the technologies that make this site possible.
  <ul>
    <li><a href='http://emberjs.com/'>Ember.js</a></li>
    <li><a href='http://handlebarsjs.com/'>Handlebars.js</a></li>
    <li><a href='https://github.com/emberjs/data'>Ember Data</a></li>
    <li><a href='http://jquery.com/'>jQuery</a></li>
    <li><a href='http://getbootstrap.com/'>Twitter Bootstrap</a></li>
  </ul>
</script>

<script type="text/x-handlebars" data-template-name='about'>
<div id="aboutfooter">
Rockin' Circuits is an online electronics store that sells electronics parts and provide software development services to make your electronics, mobile, web projects possible. We help aim to unleash your inner inventor.

Rockin' Circuits is a solid believer in the idea of open source technology. We believe an open market is a productive market. We belief that open source technology promotes innovation and creativity.

We design and develop simple solutions to complex problems.
</div>
</script>
</body>
</html>
