<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rockin' Circuits!</title>
  
  <link href="css/application.css" media="screen" rel="stylesheet" />
  <link href="css/circuit.css" media="screen" rel="stylesheet" /> 
  <link href="css/animate.css" media="screen" rel="stylesheet" /> 
  <link href="css/csshake.min.css" media="screen" rel="stylesheet" /> 
  <!-- // <script src="js/libs/jquery-1.10.2.js"></script> -->
  <script src="js/libs/jquery-1.10.2.min.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember-1.7.0.js"></script>
  <!-- // <script src="js/libs/ember-1.7.min.js"></script> -->
  <script src="js/libs/bootstrap.min.js"></script>
  <script src="js/libs/typed.js"></script>
  <script src="ember-data.js"></script>
  <!-- // <script src="js/libs/ember-data.1.0.0-beta.4.min.js"></script> --> 
  <script src="js/libs/localstorage_adapter.js"></script>
  <script src="accounting.js"></script>
  <script src="js/application.js"></script>
  <script src="js/products.js"></script>

  <script src="js/parallax.js"></script>


  <!-- // <script src="js/cart.js"></script> -->
  <!-- // <script src="js/contacts.js"></script> -->
  <!-- //   <script src="js/checkout.js"></script> -->
  <!-- // <script src="js/app.js"></script>   -->
  

  <script src="js/data.js"></script>
  <!-- // <script src="js/models/recipe.js"></script> -->
  <!-- // <script src="js/ajax_helpers.js"></script>   -->   

  <!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
  <!-- // <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script> -->
 <!-- <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->

  <link href="css/bootstrap.css" media="screen" rel="stylesheet" />
</head>

<body onload="onload">

<script type="text/x-handlebars" data-template-name='application'>

  <div id="main_header" class="navbar navbar-default navbar-fixed-top">
    <div class="header_bg">
    </div>
    <div class="header_items" >
    
    <ul class="nav-justified" >
        <li class="compact shake shake-slow">
            {{#link-to "products" class="" }}
                <img src="images/ic_logo.png"  class="image_logo" alt="logo" height="32" width="122" {{action 'submit' target="view"}}>{{/link-to}}
            
        </li>
        <li class="compact">
            <div class="" id="">
            {{product-header-filters-top product=this tagName='div' classNames='filters'}}
            </div>
        </li>
        <li class="compact">
            <div>
            <div {{action 'submit' target="view"}}>
                <form {{action "search" on="submit"}} class=" ">
                  {{input value=query classNames="search_bar"}}
                </form>
            </div>
        </li>
        <li class="compact">
          <div class="cart ">
            <div {{action 'showModal' 'checkout-modal' model}}><img src="images/ic_cart.png"  class="image_logo cart" alt="logo" height="40" width="40">
             {{#if itemCounter}} 
            <div class="cart_itemCount">{{totalItems}}</div>
              {{/if}}
            </div>
          </div>
        </li> 
            
    </ul>
    </div> 
  </div>
  
 
<!-- Section 2-->
<section id="home_header" >
  <div class="bg_overlay">
  </div>
  <div class="container main_content_header">
      
  <div class="element_center text_ideas">
      <span class="typed"></span>       
    </div>
        {{product-header-filters product=this tagName='div' classNames='product_item_grid element_center'}}
  </div>
</section>  


  <div id="content" class="container">
    {{outlet}}
    {{outlet 'modal'}}
  </div>
    
  
  <footer class='container'>
    <hr />
    <p class='pull-left'>&copy; 2015 ArcherCode </p>
    
    <p class='pull-right'>{{#link-to 'credits'}}Credits{{/link-to}}</p>
    <p class='pull-right'>{{#link-to 'about'}}About{{/link-to}}</p>
    v
  </footer>
</script>

<script type="text/x-handlebars" data-template-name='components/product-header-filters-top'>
    
    <div class=''>
      <div>
          <ul class="nav-justified ">
            <li class=" "{{action 'submit' target="parentView"}}>
          {{#link-to 'products.boards' activeClass="selected"}}
            BOARDS
          {{/link-to}}
            </li>
            <li class=" " {{action 'submit' target="parentView"}}>
          {{#link-to 'products.sensors' activeClass="selected"}}
            SENSORS
          {{/link-to}}
            </li>
            <li class=" "{{action 'submit' target="parentView"}}>
          {{#link-to 'products.robotics' activeClass="selected"}}
            ROBOTICS
          {{/link-to}}
            </li>
        </ul>
        
      </div>
    </div>   

</script>  

<script type="text/x-handlebars" data-template-name="checkout-modal">
{{#checkoutmodal-dialog title='Checkout' ok='logout' close='removeModal' yesButton='Order' hasCloseBtn=True hasClass='checkout_modal' check='check'}}
    
<div class="row">
    <div class="col-md-7">
    <div class="row ">
        <div class="col-md-12 form-group">
            <h3 class="subheader">Personal Details</h3>
            
            <div class="row"> 

                <div class="col-md-6 personal_details">
                    <label>First Name</label>
                    {{input type="text" class="form-control" required=True value=firstName focus-out="focusOutFirstName" placeholder = firstName}}
                    {{#if firstNameToggle}}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {{/if}}
                </div>
                
                <div class="col-md-6 personal_details ">
                    <label>Last Name</label>
                    {{input type="text" class="form-control" value=lastName focus-out="focusOutLastName"}}
                     {{#if lastNameToggle}}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {{/if}}
                </div>
            </div>

            
            <div class="row">
            
                <div class="col-md-6 personal_details">
                    <label>Email address</label>
                    {{input type="email" class="form-control" value=email focus-out="focusOutEmail"}}
                    {{#if emailToggle}}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {{/if}}
                </div>

                <div class="col-md-6 personal_details"> 
                    <label>CellPhone</label>
                    {{input type="text" class="form-control" value=phone focus-out="focusOutPhone"}}
                    {{#if phoneToggle}}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {{/if}}
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 personal_details" >
                    <label>Address</label>
                    {{input type="text" class="form-control" value=addressOne focus-out="focusOutAddressOne"}} 
                    {{#if addressOneToggle}}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {{/if}}
                </div>
                <div class="col-md-4 personal_details">
                     <label>Address</label>
                    {{input type="text" class="form-control" value=addressTwo focus-out="focusOutAddressTwo"}} 
                    {{#if addressTwoToggle}}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {{/if}}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-5 personal_details">
                    <label>City</label>
                    {{input type="text" class="form-control" value=city focus-out="focusOutCity"}}
                    {{#if cityToggle}}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {{/if}}
                </div>
                <div class="col-md-5 personal_details">
                    <label>Region</label>
                    {{input type="text" class="form-control" value=usState focus-out="focusOutUSState"}}
                      {{#if stateToggle}}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {{/if}}
                </div>

                <div class="col-md-2 personal_details">
                    <label>Zip Code</label>
                    {{input type="text" class="form-control" value=zipCode focus-out="focusOutZipCode"}} 
                      {{#if zipToggle}}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {{/if}}
                </div>
            </div>

            <div class="row" >
              <div class="col-md-12 form-group">
                <h3>
                  Payment Options - {{selectedVal}}
                </h3>

            <div class="row" >

              <div class="col-md-12 form-group">
              {{ext-radio content=radioContent value=selectedVal}}
              </div>
            </div>
            <div class="row" >
              <div class="col-md-12 form-group">
              {{#if optionBank }}
                <div class="alert alert-info" role="alert"> 
                    Kindly ask me for the bank details. Thank you. 
                </div>
              {{/if}}

              {{#if optionMeet }}

              <div class="alert alert-info" role="alert"> 
                    Lets schedule for a meet up. Kindly call me. Thank you. 
                </div>
              {{/if}}
              </div>
              </div>
            </div>
          </div>
            
        </div>
        

        </div>
    </div>
    
     <div class="col-md-5">
          <div class="panel panel-default">
          <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          <h3 class="subheader">Order Summary</h3>
          <div class="items_ordered">
            {{#each item in model itemController="application" }}
              <div class="row table checkout-modal" {{bind-attr class=""}}>
                <div class="col-md-7">
                {{item.name}}:
                </div>
                <div class="col-md-2"> {{item.amount}}</div> 
                <div class="col-md-1">x  </div>
                <div class="col-md-1">{{item.quantity}}</div>
                <div class="col-md-1"> 
                <button type="button" class="close" aria-label="Close" {{action 'deleteItem'}}><span aria-hidden="true">&times;</span></button>
                </div> 
                </div>
            {{/each}}
          </div>
       
          <div class="total table">

            <div class="row"> 
                <div class="col-md-9 center">Total items: </div> 
                <div class="col-md-3 text-center">{{totalItems}}</div>
            </div>
            <div class="row">
                <div class="col-md-9"> Total amount: </div> 
                <div class="col-md-3 text-center">{{totalAmount}}</div>
            </div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
                <h3 class="subheader">Shipping Information</h3>
                {{v-card fn=firstName lastName = lastName street-addressOne=addressOne street-addressTwo=addressTwo locality=city usState=usState zip=zipCode email=email phone=phone}}
              </div>
              </div>
          </div>
          </div>
        </div>
        </div>
    </div>
  </div>

  {{#if isButtonDisable}}
     <button type="button" class="btn btn-primary" disabled>Order</button>
     {{/if}}

     {{#if isButtonActive}}
     <button type="button" class="btn btn-primary"{{action "ok" }}>Order</button>
     {{/if}}

{{/checkoutmodal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="components/v-card">
  <ul class="vcard">
    <li><span class="fn">{{fn}}</span> <span class="lastName">{{lastName}}</span></li> 
    <li><span class="street-address">{{street-addressOne}}</span>, <span class="street-address">{{street-addressTwo}}</span>, <span class="locality">{{locality}}</span>, <span class="state">{{usState}}</span> <span class="zip">{{zip}}</span></li> 
    <li> <span class="email">{{email}}</span> </li>
    <li><span class="phone">{{phone}}</span></li> 
    
  </ul>
</script>

<script type="text/x-handlebars" data-template-name='components/ext-radio'>  

    <div class="row">
      {{#each content}}
      <div class="col-md-6">
      <div class="input-group">
          <div class="input-group-addon">
            <span class=""> 
                {{radio-button value=value name=view.name selection=view.value class="radio"}} 
            </span>
          </div> 
          <div class="form-control">
          {{label}}
          </div>

      </div>
      </div>
      {{/each}}
    </div>
</script>


<!-- Edit line here -->
<!--
<script type="text/x-handlebars" data-template-name="index">
  <div class="jumbotron">
    <h1>Welcome to The Flint &amp; Flame!</h1>
    <p class="tagline">Everything you need to make it through the winter.</p>
    <p>{{#link-to 'products' classNames='btn btn-primary btn-lg'}}Browse All {{productCount}} Items &raquo;{{/link-to}}</p>
  </div>

  <div class="body-content">
    <div class="row">
      {{#each onSale}}
        {{product-detail product=this classNames="col-sm-4"}}
      {{/each}}
    </div>
  </div>
</script>
-->
<script type="text/x-handlebars" data-template-name='products'>



<div class="row" id="scrollToThis">
  <div>
    {{outlet}}
    {{outlet modal}}
  </div>
</div>
</script>  


    
<script type="text/x-handlebars" data-template-name='components/product-header-filters'> 
      <div>
          <ul class="nav-justified">

            <li class=" main_header_thumbnail">
          {{#link-to 'products.boards' classNames="list-group-item"}}
                <div class=''>
                <img src="images/icons/Remote-Control-256.png"  class="image_logo" alt="logo" height="128" width="128">
                </div>
                <h3>Boards</h3>
          {{/link-to}}
                <div><h4>
                Facilitates programming and incorporation into other circuits</h4>
                </div>
            </li>
            <li class=" main_header_thumbnail">
          {{#link-to 'products.sensors' classNames="list-group-item"}}
                
                
                <div class=''>
                <img src="images/icons/Modem-Wireless-256.png"  class="image_logo" alt="logo" height="128" width="128">
                </div>
                <h3>Sensors</h3>
          {{/link-to}}
                <div><h4>
                Measures physical quantity and converts it into a signal which can be read by an microcontroller</h4>
                </div>
            </li>
            <li class=" main_header_thumbnail">
          {{#link-to 'products.robotics' classNames="list-group-item"}}
                <div class=''>
                <img src="images/icons/Webcam-256.png"  class="image_logo" alt="logo" height="128" width="128">
                </div>
                <h3>Robotics</h3>
          {{/link-to}}
                <div><h4>
                Motors, Relays anything that makes your project animate</h4>
                </div>
            </li>
        </ul>
      </div>
    


</script>  


<script type="text/x-handlebars" data-template-name='products/index'> 
  <!--     -->      
    
  <!--     -->
  <div class="element_center element_header_bar_parent">
    <div class="element_header_bar element_header_item"></div>
    <div class="element_header_item"><h3>Products</h3></div>
    <div class="element_header_bar element_header_item"></div>
  </div>
  <div class='list-unstyled'>
    <div class="row">
      {{#each model}}     
    <div class="col-md-4" {{action 'showModal' 'product-detail-modal' this}}>
    {{product-detail product=this tagName='div' classNames='product_item_grid' addMe="addItem"}}
    </div>
      {{/each}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name='products/boards'> 

  <div class="element_center element_header_bar_parent">
    <div class="element_header_bar element_header_item"></div>
    <div class="element_header_item"><h3>Boards</h3></div>
    <div class="element_header_bar element_header_item"></div>
  </div>
<div class='list-unstyled'>
  {{#each}}
    <div class="col-md-4" {{action 'showModal' 'product-detail-modal' this}}>
    {{product-detail product=this tagName='div' classNames='product_item_grid' addMe="addItem"}}
    </div>
  {{/each}}
</div>
</script>

<script type="text/x-handlebars" data-template-name='products/sensors'> 

  <div class="element_center element_header_bar_parent">
    <div class="element_header_bar element_header_item"></div>
    <div class="element_header_item"><h3>Sensors</h3></div>
    <div class="element_header_bar element_header_item"></div>
  </div>
<div class='list-unstyled'>
  {{#each}}
    <div class="col-md-4" {{action 'showModal' 'product-detail-modal' this}}>
    {{product-detail product=this tagName='div' classNames='product_item_grid' addMe="addItem"}}
    </div>
  {{/each}}
</div>
</script>
    
<script type="text/x-handlebars" data-template-name='products/robotics'>

  <div class="element_center element_header_bar_parent">
    <div class="element_header_bar element_header_item"></div>
    <div class="element_header_item"><h3>Robotics</h3></div>
    <div class="element_header_bar element_header_item"></div>
  </div>
<div class='list-unstyled'>
  {{#each}}
    <div class="col-md-4" {{action 'showModal' 'product-detail-modal' this}}>
    {{product-detail product=this tagName='div' classNames='product_item_grid' addMe="addItem"}}
    </div>
  {{/each}}
</div>
</script>

<script type="text/x-handlebars" data-template-name="product-detail-modal">
  {{#modal-dialog title=model.title ok='buyProduct' close='removeModal' yesButton='Buy' hasCloseBtn=True}}
    <div class="row">  
        <img {{bind-attr src='model.image'}} class='img-thumbnail'/>
    </div>
    <div class="row">
        <p class="product-description">{{model.description}}</p>
    </div>
  {{/modal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="logout-modal">
  {{#modal-dialog title='Logout' ok='logout' close='removeModal'}}
    Are you sure you want to logout?
  {{/modal-dialog}}
</script>

<script type="text/x-handlebars" id="components/modal-dialog">
  <div class="modal fade ">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          {{yield}}
        </div>
        <div class="modal-footer">
            {{#if hasCloseBtn}}  
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {{/if}}
          <button type="button" class="btn btn-primary" {{action "ok" }}>{{yesButton}}</button>
        </div>
      </div>
    </div>
  </div>
</script> 

<script type="text/x-handlebars" id="components/checkoutmodal-dialog">
  <div class="modal fade ">
    <div class="modal-dialog checkout_modal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body checkout_modal">
          {{yield}}
        </div>
        <div class="modal-footer">
            {{#if hasCloseBtn}}  
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            {{/if}}
<!--
          <button type="button" class="btn btn-primary"{{action "ok" }}>{{yesButton}}</button>
-->
        </div>
      </div>
    </div>
  </div>
</script>  
   
<script type="text/x-handlebars" data-template-name='components/product-detail'>


<div class="row">  
    <div class="product-detail-price">₱{{product.price}}</div>
    <img {{bind-attr src='product.image'}} class='img-thumbnail'/>
</div>


<div class='row product_item_description'>
    <div class="col-md-10">
        <h4>{{product.title}}</h4>
    </div>
    <div class="col-md-2">
     
        <button class = 'btn btn-info' {{action 'addMe' product bubbles=false}}>+</button>
    </div>
</div> 
</script>

<script type="text/x-handlebars" data-template-name='product'>
{{#modal-dialog action="close"}}
  <div class='row'>
    <div class='col-sm-7'>
      <h2>{{title}}</h2>      
      <h3 class="text-success">{{money price}}</h3>
      <p class="text-muted">{{description}}</p>
    </div>
    <div class='col-sm-5'>
      <img {{bind-attr src='image'}} class='img-thumbnail img-rounded'/>
    </div>
  </div>
{{/modal-dialog}}
</script>


<script type="text/x-handlebars" data-template-name='credits'>
  <h2>Credits</h2>
  <p>Here are a few of the technologies that make this site possible.
  <ul>
    <li><a href='http://emberjs.com/'>Ember.js</a></li>
    <li><a href='http://handlebarsjs.com/'>Handlebars.js</a></li>
    <li><a href='https://github.com/emberjs/data'>Ember Data</a></li>
    <li><a href='http://jquery.com/'>jQuery</a></li>
    <li><a href='http://getbootstrap.com/'>Twitter Bootstrap</a></li>
  </ul>
</script>

<script type="text/x-handlebars" data-template-name='about'>
<div id="aboutfooter">
Rockin' Circuits is an online electronics store that sells electronics parts and provide software development services to make your electronics, mobile, web projects possible. We help aim to unleash your inner inventor.

Rockin' Circuits is a solid believer in the idea of open source technology. We believe an open market is a productive market. We belief that open source technology promotes innovation and creativity.

We design and develop simple solutions to complex problems.
</div>
</script>
</body>
</html>
