.tagline {
  margin-bottom: 20px;
}

.label a {
  color: #fff;
  text-decoration: none;
}

.product-detail.row {
  margin: 1em 0;
  border-bottom: 1px solid #eee;
}
.product-detail img {
  max-height: 150px;
  max-width: 150px;
}
.product-detail h2 {
  margin-top: 0;
  margin-bottom: 0px;
}
.product-description {
  margin-top: 10px;
}

.list-rating {
  margin: 0;
  padding: 0;
}
.list-rating li {
  display: inline;
  list-style-type: none;
}



.navbar-default .navbar-nav > li {
  cursor: pointer;
  background-color: #43c0ef; /*#21C3F3;*/
  padding: 12px 12px;
  margin-top: -7px;
  color: #f0eee1;
  font-weight: bold;
}
.navbar-default .navbar-nav > li:hover {
  background-color: #607D8B;
}
.navbar-default .navbar-nav > li.active {
  color: #fff;
  background-color: #607D8B;
}

textarea { 
  width: 100%;
  margin-bottom: 10px;
}


/*for vcard under checkout*/
.vcard {
  border: 1px solid #dcdcdc;
  max-width: 12em;
  padding: 0.5em;
}
.vcard li {
  list-style: none;
}
.vcard .fn {
  font-weight: bold;
}
.vcard .email {
  font-family: monospace;
}

label {
  display: block;
  margin-top: 0.5em;
}