@font-face {
  font-family: rc_font;
  src: url('../fonts/g_xlight.ttf') format('opentype');
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.nav-justified{
    list-style: none;
    padding-left: 0px;
}

.product_item_grid {
    padding: 35px;
}
.product_item_description {
    /*padding: 10px;*/
    height: 100px;
}


a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {

    background-color: transparent;
    

}
.image_logo {
    center:true;
    
}

.navbar-default {
/*
    background-color: transparent;
    border-color: transparent;
*/
}
 
#home_header { 
    background: url(../images/bg/arduino.jpg) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    //box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 10px 0;
} 


/*
#main_header{ 
  width: 100%;
  position: fixed;
  right: 0; 
    width: auto;
  z-index: 10;
  top: 0px;
  opacity: 0;
  -moz-transform: translate(0,-50px);
  -o-transform: translate(0,-50px);
  -ms-transform: translate(0,-50px);
  -webkit-transform: translate(0,-50px);
  transform: translate(0,-50px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(.33,0,.2,1);
  -moz-transition: -moz-transform 250ms cubic-bezier(.33,0,.2,1);
  -o-transition: -o-transform 250ms cubic-bezier(.33,0,.2,1);
  transition: transform 250ms cubic-bezier(.33,0,.2,1);
}

#main_header.shown{ 
  opacity: 1;
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}*/

.li_no_style{
list-style: none;
}


.home_links{  
 /*margin-right: 0px !important;  */ 
}

.cart_itemCount{
  position: relative;
  top: -35px;
  left: 15px;
    font-size:80%;
      color: #FFBB0D;
} 

.input_line_style input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #017FBC;
  transition: border 0.3s;
    background:transparent;
}
.input_line_style input[type="text"]:focus,
.input_line_style input[type="text"].focus {
  border-bottom: solid 2px #017FBC;
}

.prod_filter_bg{
    background: #ffffff;
    opacity: 0.5;
}

.main_content_header{
    color:white;
    font-size: 5em;
    margin: 0 auto;
}

.element_center{
    
  text-align: center;
    margin: 0 auto;
    position: relative;
}

.main_content_header.header{
    
}

.text_rockin{
    font-size:  20px;
    width: 40%;
    border-bottom: 1px solid #ccc;
}

.text_blue{
    color: #43c0ef !important;
}
.text_ideas{
    font-size:  50px;
    padding: 100px 0 50px 0;
}

.bg_overlay{
    position:absolute; 
    top:0px; width:100%; 
    height:100%; 
    background:#333333; 
    opacity:0.1;
}

.main_header_thumbnail{
    background: transparent;
    color: white !important;
    /*border-style: solid;
    border-width: 5px;
    border-radius: 25px;*/
}

.icon_circle{
  width: 40px;
  height: 40px;
  background: #ffffff;
  display: block;
  border-radius: 50%; 
    opacity: 0.8;
     /*border-style: solid;
    border-width: 1px;
   border-color: #cccccc;*/
}

.icon_circle_header{
  width: 128px;
  height: 128px;
  background: #ffffff;
  display: block;
  border-radius: 50%; 
    opacity: 0.8;
     /*border-style: solid;
    border-width: 1px;
   border-color: #cccccc;*/
}

.header_items{ 
}

#main_header{
    background: transparent;
}


.header_bg{
    background: #43c0ef ;
    opacity: 0.97;
      height: 50px;
  width: 100%;
  position: absolute;
    z-index: -10;
}



.prod_filter_body{
      top: 0px;
  /*position: absolute;*/
}

.element_header_bar{
  width: 30%;
  border-bottom: 1px solid #ccc;
}

.element_header_bar.left{ 
  left: 10px; 
}

.element_header_bar.right{ 
  right: 10px; 
}

.element_header_bar_parent {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 10px 0;
}
.element_header_item {
  width: 200px;  margin-bottom: 7px;
  display: inline-block;
}

.header_items .search_bar{
  margin-left: 12px;
  font-size: 100%;
  padding: 2px 9px 2px 27px;
  height: 26px;
  background-position: 7px 6px;
  width: 150px;
    
        
  color: #666;
  border: 1px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.17);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.17);
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.17);
  outline: none;
  background: #fcfcfc url(../images/icons/ic_search.png) no-repeat 5px 5px;
}

.header_items .search_bar:hover{
  border: 1px solid #43c0ef;
  background: #fcfcfc url(../images/icons/ic_search_blue.png) no-repeat 5px 5px;
}


.header_items {
    padding-top: 6px;
      width: 960px;
  margin: 0 auto;
  position: relative;
}


.header_items .header_links li{   
    line-height: 26px;
  margin: 18px 0 0;
  display: inline-block;
}

.header_items .compact{
    width: 0.1%;
}

.header_items .nav-justified{
    padding-left: 15px;
}

.header_items .filters li a{
    color: #ffffff;  
    opacity: 0.9;
    text-shadow: rgba(0,0,0,0.3) 0px 1px 1px;
    text-decoration: none;
}

.header_items .filters li a.selected{
      color: #0000CC;
}

.cart{
    opacity: 0.8;
}

.cart:hover{
    opacity: 1;
}


.header_items .filters li a:hover{
    /*color: #faf2ee;*/
    opacity: 1;
}

.header_items .filters li.active a{
    /*/color: #FFBB0D;*/
    opacity: 1;
}

.prod {
    display: inline-block;
    width: 33%;
}


.checkout_modal{
    width: 80% !important;
}

.personal_details > label{
  
  position: absolute;
  color: #6E6E70;
  font-size: smaller;
}

.checkout-modal.table{
    width: inherit !important;
}

.personal_details.maximize > input{
  width: 110% !important;
}

.personal_details > input{
  margin-top: 25px;
  width: 100%;
}

.total{
  border-top: 1px solid #c7c7c7;
  margin-top: 1em;
}

.form-control{
  color:#222222 !important;
}

.glyphicon-remove{
  position: absolute !important;
  right: 23px;
  top: 35px !important;
  z-index: 2;
  /* display: block; */
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.product-detail-price{
  color: white;
  position: relative;
  top: 45px;
  right: -35px;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  letter-spacing: 1px;
  font-weight: 600;
}

.btn-info{
  font-size: large !important;
  background-color: #fb755a !important;
  border-color: #fb755a !important;
}

.image_logo{ transition: all .2s ease-in-out; transform: scale(0.8); }
.image_logo:hover { transform: scale(1); }

.cut-text { text-overflow: ellipsis; overflow: hidden; width: 160px; height: 1.2em; white-space: nowrap; }
